html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    
    font-family: 'Montserrat', sans-serif;
   
    /*background: linear-gradient(to bottom, #FFF, #00115c);*/
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 34.89583432674408%,
    rgb(0, 20, 65) 94.27083134651184%
  ); 
    
    
    
}



img{
    width: 100%;
}

section{
    padding: 100px 0;
    
}

.section_title{
    margin-bottom: 30px;
}

.section_title h2{
    position: relative;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.section_title h2:hover{
    color: #3f3f3f;
}

/*  HEADER  */

header{
    background:  #000000;
    
    position: fixed;
    width: 100%;
    z-index: 5;
    /*deneme kismi*/
    transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
    border-bottom: 1px solid #000000;
    
    
    /*deneme kismi*/
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding: 20px 0;  
    
}

.menu{
    display: flex;
    
}

.menu a{
    margin-left: 50px;
    color:rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease-in-out;
   
}


.menu a:hover{
    
    color:#6fa8dd; 
    font-size: 18px;
   
}

.logo{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: large;
    font-weight: bolder;
}

.logo_image{
    width: 30%;   
}

.veri_frame{
    
width: 1600px;
  height: 750px;
  position: absolute;
  left: 260px;
  top: 206px;
  overflow: hidden;  
}

.container_class{
  
  width: 1920px;
  height: 2526px;
  position: relative;
  overflow: hidden;
}

.uni_sayi{
  color: #000000;
  text-align: left;
  font: 400 25px "Inter", sans-serif;
  position: absolute;
  left: 642px;
  top: 200px;
  text-shadow: 0 0 32px rgb(0, 0, 0);
}

.club_sayi{
  color: #000000;
  text-align: left;
  font: 400 25px "Inter", sans-serif;
  position: absolute;
  left: 642px;
  top: 300px;
  width: 1288px;
  height: 185px;
  text-shadow: 0 0 32px rgb(0, 0, 0);
}

.ort_club{
    color: #000000;
  text-align: left;
  font: 400 25px "Inter", sans-serif;
  position: absolute;
  left: 642px;
  top: 400px;   
  text-shadow: 0 0 32px rgb(0, 0, 0); 
}

.tablo{
    width: 990px;
    
    position: absolute;
    left: -140px;
    top: -100px;
}

.card_frame{
border-radius: 20px;
background-color: rgba(255, 255, 255, 0.253);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.17);
  border-width: 1px;
  width: 1645px;
  height: 519px;
  position: absolute;
  left: 125px;
  top: 1000px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.151),
    0px 4px 4px 0px rgba(0, 0, 0, 0.11), 0px 4px 4px 0px rgba(0, 0, 0, 0.048);
   
  overflow: hidden;
}

.problem {
    color: #000000;
    text-align: left;
    font: 400 64px "Inter", sans-serif;
    position: absolute;
    left: 121px;
    top: 210px;
    text-shadow: 0 0 32px rgb(0, 0, 0);
  }

.problem_text{
  color: #000000;
  text-align: center;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 701px;
  top: 160px;
  width: 850px;
  
  text-shadow: 0 0 32px rgba(0, 0, 0, 0.404);
    
}

.card_frame2{
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.308);;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.17);
  border-width: 1px;
  width: 1645px;
  height: 519px;
  position: absolute;
  left: 125px;
  top: 1200px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.123);
    
  overflow: hidden;
}

.amac {
    color: #000000;
    text-align: left;
    font: 400 64px "Inter", sans-serif;
    position: absolute;
    left: 1173px;
    top: 218px;
    text-shadow: 0 0 32px rgb(0, 0, 0);
  }

  .amac_text {
    color: #000000;
    text-align: center;
    font: 400 28px "Inter", sans-serif;
    position: absolute;
    left: 52px;
    top: 170px;
    width: 850px;
    text-shadow: 0 0 32px rgba(0, 0, 0, 0.486);
  }

  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .frame-7 {
    width: 1920px;
    height: 1900px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  ._2 {
    width: 1000px;
    height: 800px;
    position: absolute;
    left: 47px;
    top: 1000px;
    opacity: 0.2;
    
    
  }
  ._3 {
    width: 1420px;
    height: 833px;
    position: absolute;
    left: 800px;
    top: 1400px;
    
  }
  .mac-book-pro-1 {
    width: 1200px;
    height: 800px;
    position: absolute;
    left: 840px;
    top: 1072px;
  }
  .etkinlik-s-re-leri-kontrol-sistemi-g-rsel-raporlar-ve-trend-analizi {
    color: #000000;
    text-align: center;
    font: 400 48px "Inter", sans-serif;
    position: absolute;
    left: 939px;
    top: 400px;
    width: 895px;
  }
  .etkinlik-s-re-leri-kontrol-sistemi-g-rsel-raporlar-ve-trend-analizi-span {
    color: #ffffff;
    font: 400 32px "Inter", sans-serif;
    text-shadow: 0 0 32px rgb(0, 0, 0);
  }
  .etkinlik-s-re-leri-kontrol-sistemi-g-rsel-raporlar-ve-trend-analizi-span2 {
    color: #ffffff;
    font: 400 32px "Inter", sans-serif;
    text-shadow: 0 0 32px rgb(0, 0, 0);
  }
  .etkinlik-s-re-leri-kontrol-sistemi-g-rsel-raporlar-ve-trend-analizi-span3 {
    color: #ffffff;
    font: 400 32px "Inter", sans-serif;
    text-shadow: 0 0 32px rgb(0, 0, 0);
  }
  .dijital-g-rev-ve-i-takip-sistemi-sekt-rel-al-ma-alan-na-dayal-sponsor-kul-p-e-le-meleri {
    color: #000000;
    text-align: center;
    font: 400 32px "Inter", sans-serif;
    position: absolute;
    left: 85px;
    top: 1235px;
    width: 784px;
  }
  .dijital-g-rev-ve-i-takip-sistemi-sekt-rel-al-ma-alan-na-dayal-sponsor-kul-p-e-le-meleri-span {
    color: #ffffff;
    font: 400 32px "Inter", sans-serif;
    text-shadow: 0 0 32px rgb(0, 0, 0);
  }
  .dijital-g-rev-ve-i-takip-sistemi-sekt-rel-al-ma-alan-na-dayal-sponsor-kul-p-e-le-meleri-span2 {
    color: #ffffff;
    font: 400 32px "Inter", sans-serif;
    text-shadow: 0 0 32px rgb(0, 0, 0);
  }
  .dijital-g-rev-ve-i-takip-sistemi-sekt-rel-al-ma-alan-na-dayal-sponsor-kul-p-e-le-meleri-span3 {
    color: #ffffff;
    font: 400 32px "Inter", sans-serif;
    text-shadow: 0 0 32px rgb(0, 0, 0);
  }
  .dijital-g-rev-ve-i-takip-sistemi-sekt-rel-al-ma-alan-na-dayal-sponsor-kul-p-e-le-meleri-span4 {
    color: #ffffff;
    font: 400 32px "Inter", sans-serif;
    text-shadow: 0 0 32px rgb(0, 0, 0);
  }
  .mac-book-pro-16-removebg-preview-1-1 {
    width: 1200px;
    height: 800px;
    position: absolute;
    left: -134px;
    top: 150px;
    transform-origin: 0 0;
    transform: rotate(-0.067deg) scale(1, 1);
  }
  ._4 {
    width: 1000px;
    height: 800px;
    position: absolute;
    left: 939px;
    top: 109px;
    z-index: -10;
    opacity: 0.1;
    
  }

  .btn{
    display: inline-block; 
    text-transform: uppercase;
    margin-top: 3%;
    font-size: 15px;
    line-height: 13px;
    font-weight: 700;
    letter-spacing: 1.5px; 
    color:#ffffff;
    padding:17px 30px;  
    border: 2px solid #ffffff;
    border-radius: 25px;
    background-color: transparent;
    position: absolute;
    left: 370px;
    top: 4000px;
    overflow: hidden;
}
.btn:hover{
    
    color: #ffffff;
    transition: 0.5s;
    background-color:  #12161a;
    border: 4px solid #12161a;
    font-size: 18px;
    line-height: 13px;
    font-weight: 700;
    letter-spacing: 2px; 
    color:#ffffff;
    padding:20px 33px;  
    border: 2px solid #ffffff;
    border-radius: 25px;
    background-color: transparent;
    position: absolute;
    left: 350px;
    top: 4000px;
    overflow: hidden;
    text-shadow: 0 0 32px#ffffff;
    box-shadow: 0 0 32px#ffffff;
}
  