html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/arkaplan.png);
    
    background-color: #2F3F54;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}



img{
    width: 100%;
}

section{
    padding: 100px 0;
    background: rgb(255, 255, 255)
}

.section_title{
    margin-bottom: 30px;
}

.section_title h2{
    position: relative;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.section_title h2:hover{
    color: #3f3f3f;
}

/*  HEADER  */

header{
    background:  #ffffff;
    
    position: fixed;
    width: 100%;
    z-index: 5;
    /*deneme kismi*/
    transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
    border-bottom: 1px solid #000000;
    
    
    /*deneme kismi*/
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding: 20px 0;  
    
}

.menu{
    display: flex;
    
}

.menu a{
    margin-left: 50px;
    color:rgb(0, 0, 0);
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease-in-out;
   
}


.menu a:hover{
    
    color:#6fa8dd; 
    font-size: 18px;
   
}

.logo{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: large;
    font-weight: bolder;
}

.logo_image{
    width: 30%;   
}

/*ANASAYFA*/

.inner_anasayfa{
    
    width: 1920px;
    height: 1080px;
    position: relative;
    overflow: hidden;
}



.baslik {
    color: #000000;
    text-align: center;
    font: 600 48px "Inter", sans-serif;
    position: absolute;
    left: 1253px;
    top: 56px;
    width: 520px;
    height: 1px;
    text-shadow: 0 0 0.2em rgb(141, 141, 141); 
  }

  .paragraf {
    color: #000000;
    text-align: center;
    font: 400 24px "Inter", sans-serif;
    position: absolute;
    left: 1205px;
    top: 192px;
    width: 616px;
    height: 182px;
    text-shadow: 0 0 0.2em rgb(141, 141, 141);
  }
  .logo2 {
    width: 823px;
    height: 137px;
    position: absolute;
    left: 1050px;
    top: 200px;
    
  }

  .students {
    width: 1250px;
    height: 876px;
    position: absolute;
    left: -169px;
    top: -350px;
    
  }

.inner_anasayfa h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    line-height: 180%;
    background: #ffffff11;
    border-radius: 10px;
    text-shadow: 0 0 0.2em rgb(71, 71, 71); 
}

.inner_anasayfa p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    
    letter-spacing: 1px;
    text-shadow: 0 0 0.2em rgb(175, 175, 175);
    
}

.container_logo{
    display: center;
    width: 50%;
    height: 35%;
    margin-top: 18%;
    align-items: center;
    
}

.social-links{
    display: center;
    column-gap: 2.5rem;
    margin: 2rem 0;
    font-size: 1.5rem;  
}

.social-links:hover{
    color: rgb(255, 255, 255);
    transition: color 0.3s ease-in-out;
}

    
.home__social-link{
    color: black;
    font-size: 40px;
    transition: color 0.3s ease-in-out;
}


.home__social-link:hover{
    color: rgb(252, 255, 103);
}

.btn{
    display: inline-block; 
    text-transform: uppercase;
    margin-top: 3%;
    font-size: 15px;
    line-height: 13px;
    font-weight: 700;
    letter-spacing: 1.5px; 
    color:#000000;
    padding:17px 30px;  
    border: 2px solid #000000;
    border-radius: 25px;
    background-color: transparent;
    position: absolute;
    left: 1470px;
    top: 320px;
    overflow: hidden;
}
.btn:hover{
    
    color: #ffffff;
    transition: 0.5s;
    background-color:  #12161a;
    border: 2px solid #12161a;
}

.frame{
    background: linear-gradient(
        linear-gradient(180deg, #7187D4 0%, rgba(113, 135, 212, 0.00) 0.01%, rgba(113, 135, 212, 0.63) 48.96%, rgba(113, 135, 212, 0.00) 100%)
      );
    width: 1935px;
    height: 506px;
    position: absolute;
    left: -7px;
    top: 350px;
    overflow: hidden;
}

