html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/arkaplan.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}



img{
    width: 100%;
}

section{
    padding: 100px 0;
    background: rgb(255, 255, 255)
}

.section_title{
    margin-bottom: 30px;
}

.section_title h2{
    position: relative;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.section_title h2:hıver{
    color: #3f3f3f;
}

/*  HEADER  */

header{
    background: rgb(0, 0, 0);
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    width: 100%;
    z-index: 5;
    /*deneme kismi*/
    transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
    /*deneme kismi*/
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding: 20px 0;  
}

.menu{
    display: flex;
    
}

.menu a{
    margin-left: 50px;
    color:rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease-in-out;
   
}


.menu a:hover{
    
    color:rgb(252, 255, 103);   
   
}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: large;
    font-weight: bolder;
}

.logo_image{
    width: 30%;   
}

/*ANASAYFA*/

.inner_anasayfa{
    display: flex;
    margin-left: 10%;
    text-align: center; 
    align-items: center;
    
    line-height: 180%;
    background: transparent;  
}

.child_anasayfa{
    
    width: 45%;
    padding: 0 50px;
    margin-left: 3%;
    margin-top: 18%;  
}

.inner_anasayfa h1{
    font-size: 40px;
    color: rgb(6, 3, 58);
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    line-height: 180%;
    background: transparent;
    text-shadow: 0 0 0.2em rgb(71, 71, 71); 
}

.inner_anasayfa p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    
    letter-spacing: 1px;
    text-shadow: 0 0 0.2em rgb(175, 175, 175);
    
}

.container_logo{
    display: center;
    width: 50%;
    height: 35%;
    margin-top: 18%;
    align-items: center;
    
}

.social-links{
    display: center;
    column-gap: 2.5rem;
    margin: 2rem 0;
    font-size: 1.5rem;  
}

.social-links:hover{
    color: rgb(255, 255, 255);
    transition: color 0.3s ease-in-out;
}

    
.home__social-link{
    color: black;
    font-size: 40px;
    transition: color 0.3s ease-in-out;
}


.home__social-link:hover{
    color: rgb(252, 255, 103);
}

.btn{
    display: inline-block; 
    text-transform: uppercase;
    margin-top: 3%;
    font-size: 15px;
    line-height: 13px;
    font-weight: 700;
    letter-spacing: 1.5px; 
    color:#000000; 
    padding:17px 30px;  
    border: 2px solid #070707;
    border-radius: 25px;
    background-color: transparent;
}
.btn:hover{
    
    color: rgb(255, 255, 255);
    transition: 0.5s;
    background-color: #333F48;
}

